$primary-color: #d4d4d4;
$secondary-color: #b0b0b0;
$bg-color: #828282;
$accent-color: #9f9f9f86;
$text-color: #e4e4e4;
$input-color: #acacac;

$p5: 5px;
$p10: 10px;
$p20: 20px;

$g20: 20px;

$border-radius: 10px;